@import "custom";

$screen-lg:1200px;
$screen-md:992px;
$screen-sm:768px;
$screen-xs:320px;
$red:#c80000;
$red2:#aa0000;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-family: 'Roboto', sans-serif;  
  color:#333;
}

.container{
  @media(min-width:$screen-lg){
    max-width: 1200px!important;
    width:1200px;
  }
  @media(min-width:1366px){
    max-width: 1300px!important;
    width:1300px;
  }
  @media(min-width:1600px){
    max-width: 1300px!important;
    width:1300px;
  }
}
.dropdown-toggle{
  &:after{
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.25em;
    position: relative;
    top: 5px;
    transform: rotate(135deg);
    vertical-align: top;
    width: 0.45em;
    border-left: 0;
    border-right: 0.15em solid #fff;
  }
}
.main-nav{
  background-color: $red;
  padding: 1rem;
  @media(max-width:$screen-sm){
    padding-bottom:25px;
  }
  .btn{
    margin:0 7px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    padding:7px 20px;
  }
  .navbar-brand{
    @media(max-width: $screen-sm){
      >img{
        max-height: 50px;
      }
    }
  }
  .big-logo{
    @media(max-width:$screen-sm){
      display: none;
    }
  }
  .small-logo{
    width: 60%;
    position: absolute;
    top:-7px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    @media(min-width:$screen-sm){
      display: none;      
    }
  }
  .search-wrap{
    @media(max-width:$screen-sm){
      padding-top: 10px;
      width: 30px;
      position: absolute;
      right: 0;
      top: 0;
    }    
  }
  .navbar{
    @media(max-width:$screen-sm){
      padding: 0;
      width: 100%;
      display: block;
      position: relative;
    }
  }
  .navbar-toggler{
    padding-left: 0;
    z-index: 2;
  }
  .navbar-expand-sm {
    .navbar-nav {
      @media(max-width:$screen-sm){
        margin-top: 15px;
      }
      .nav-item{
        &.active{
          .nav-link {
            opacity: 1;
          }
        }
        .nav-link {
          color:#fff;
          text-transform: uppercase;
          font-size: 12px;
          opacity: 0.6;
          transition: all .4s;
          padding-right: 0.7rem;
          padding-left: 0.7rem;
          &:hover{
            opacity: 1;
          }
          @media(max-width:$screen-sm){
            text-align: center;
            padding: 10px;
            font-size: 14px;
          }
        }
      }      
    }
  }  
  .btn-search{
    padding: 0;
    margin:0 5px;
    @media(max-width:$screen-sm){
      float: left;
    }
  }
  .btn-outline-white, .btn-white{
    @media(max-width:$screen-sm){
      display: none;
    }
  }  
}
.btn{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  padding:7px 20px;
}
.btn-primary{
  background-color: $red;
  border-color: $red;
  color:#fff;
  &:hover{
    background-color: $red2;
    border-color: $red2;
    color:#fff;
  }
}
.btn-white{
  background-color: #fff;
  border-color: #fff;
  color:$red;
  &:hover{
    background-color: #fff;
    border-color: #fff;
    color:#f88f8f;
  }
}
.btn-outline-white{
  background-color: transparent;
  border-color: #fff;
  color:#fff;
  &:hover{
    background-color: transparent;
    border-color: #aaa;
    color:#aaa;
  }
}

.home-banner{
  background: url("../images/banner-home.jpg") left top no-repeat;
  background-size: cover;
  @media(max-width:$screen-sm){
    background-position: 25% 10%;
  }
  .banner-caption{
    padding-top:100px;
    padding-bottom:100px; 
    color: #fff;
    .caption-big{
      width: 70%;
      @media(max-width:$screen-sm){
        width: 100%;
        font-size: 35px;
      }
    }
    >span{
      width: 60%;
      display: block;
      font-weight: 300;
      @media(max-width:$screen-sm){
        width: 100%;
      }
    }
  }
}

.home-content{
  background-color: #f4f4f4;
  .section-home-wrapper{
    margin-bottom: 50px;
  }
  .section-title{
    margin: 70px 0 60px;
    font-weight: 600;
    @media(max-width:$screen-sm){
      font-size: 24px;
      margin: 30px 0;
    }
  }
  .description-object{
    padding-top: 20px;
    padding-left: 50px;
    @media(max-width:$screen-sm){
      margin-bottom: 30px;
      padding-left: 15px;
    }
    >h3{
      margin-bottom: 20px;
      font-weight: 600;
      @media(max-width:$screen-sm){
        font-size: 18px;
        text-align: center;
      }
    }
    ul{
      >li{
        color: #999999;
        position: relative;
        list-style: none;
        margin-bottom: 8px;
        font-size: 16px;
        padding: 5px 0;
        @media(max-width:$screen-sm){
          margin-bottom: 0px;
        }
        &:before{
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #c80000;
          position: absolute;
          left: -20px;
          top: 13px;      
        }
      }
    }
  }
  .image-object{
    text-align: center;
    >img{
      max-width: 100%;
      margin:0 auto;
    }
  }
  .prosedur-wrap-desktop{
    @media(max-width: $screen-sm){
      display: none;
    }
    &:before{
      content: "";
      width: 68%;
      height: 2px;
      background-color: #333;
      position: absolute;
      left: 0;
      right: 0;
      top: 33%;
      margin: 0 auto;
    }
    .prosedur-item{
      .prosedur-icon{
        text-align: center;
        padding:100px 0 250px;
        >img{
          max-width: 100px;
        }
        &.top-info{
          position: relative;
          &:before{
            content: "";
            width:2px;
            height: 70px;
            background-color: #333;
            position: absolute;
            left:0;
            right:0;
            top:7%;
            margin:0 auto;
          }
          &:after{
            content: "";
            width:6px;
            height: 6px;
            border-radius: 50%;
            background: $red;
            position: absolute;
            left:0;
            right:0;
            top:27px;
            margin:0 auto;
          }
        }
        &.bottom-info{
          position: relative;
          &:before{
            content: "";
            width:2px;
            height: 70px;
            background-color: #333;
            position: absolute;
            left:0;
            right:0;
            bottom:40%;
            margin:0 auto;
          }
          &:after{
            content: "";
            width:6px;
            height: 6px;
            border-radius: 50%;
            background: $red;
            position: absolute;
            left:0;
            right:0;
            bottom:40%;
            margin:0 auto;
          }
        }
        .prosedur-detail{
          position: absolute;
          left: 42%;
          width: 300px;
          display: flex;
          &.bottoms{            
            bottom: 15%;
          }
          &.tops{            
            top: -30px;
          }
          &.last{            
            left: -44%;
            h6{
              order:2;
            }
            p{
              order:1;
              text-align: right;
              margin-left: 0;
              margin-right: 10px;
            }
          }
          h6{
            font-size: 40px;
          }
          p{
            text-align: left;
            margin-left: 10px;
            font-size: 14px;
            span{
              display: block;
              font-weight: bold
            }
          }
        }
      }
    }    
  }
  .prosedur-wrap-mobile{
    @media(min-width: $screen-sm){
      display: none;
    }
    .prosedur-item{
      display: flex;
      padding-bottom:10px;
      margin-bottom: 20px;
      border-bottom:4px solid $red2;
      &:last-child{
        border-bottom: none;
      }
      .image-icon{
        width:35%;
        padding-right: 40px;
        position: relative;
        &:before{
          content: "";
          width: 35%;
          height: 3px;
          background-color: #333;
          position: absolute;
          right: 0;
          top: 35px;
        }
        >img{
          max-width:100%;
          position: relative;          
        }
      }
      .prosedur-detail{
        width:65%;
        padding:10px 0 0 15px;
        h6{
          font-size: 40px;
        }
        p{
          text-align: left;
          font-size: 14px;
          span{
            display: block;
            font-weight: bold
          }
        }
      }
    }
  }
  .question-wrap{
    .question-detail{
      float: left;
      min-width: 200px;
      padding:10px 0;
      color:#fff;
      background-color: #333;
      text-align: center;
    }
    .timer{
      float: right;
      padding:10px 20px;
      color: #333333;
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 0.58px;
      line-height: 28px;
      border: 2px dashed #c80000;
      background-color: #fcecec;  
      @media(max-width: $screen-sm){
        padding: 10px;
        font-size: 14px;
        line-height: 18px;
      }      
    }
    .questions, .answer{
      color: #555555;
      font-size: 14px;
      border-radius: 4px;
      padding:15px;
      border: 1px solid #dddddd;
      background-color: #ffffff;
      transition: all .2s;
    }
    .col-answer{
      margin: 5px 0;
      textarea{
        @media screen and (min-width: $screen-md) {
          width: 50%;
        }
      }
    }
    .answer{
      display: inline-block;
      &:hover{
        background-color: #fcecec;
      }
      &.active{
        background-color: #fcecec;
      }
    }
    .btn-primary{
      min-width: 200px;
      padding:10px 0;
      color:#fff;
      text-align: center;
      @media(max-width: $screen-sm){
        width: 100%;
      }
    }
    .question-nav{
      float: right;
      width:50%;
      @media(max-width:$screen-sm){
        width: 100%;
        margin:20px 0;
      }
      .mark-question{
        float: left;
        width: 50%;
        color:#999;
        span{
          font-size: 13px;
          margin-right:5px;
        }
      }
      .navigate-question{
        width:50%;
        float: right;
        text-align: right;
        .prev-btn, .next-btn{
          display: inline-block; 
          margin:0 5px;
          opacity: 0.4;
          transition: .2s all;
          &:hover{
            opacity: 1;
          }  
        }
        .next-btn{          
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          >img{            
            margin-top:-3px;
          }
        }
      }
    }
  }
  .board{
    background-color: #dddddd;
    @media(max-width:$screen-sm){
      display: none;
    }
    .board-summary{
      background-color: #999999;
      padding:50px 0;
      text-align: center;
      color: #fff;
      margin:0 -15px;
    }
    .board-point{
      display: block;
      text-align: center;
      padding: 11px 20px;
      background-color: #fff;
      border-radius: 50%;
      margin-top:12px;
      font-weight: bold;
      color:#555555;
      border:2px solid #fff;
      transition: .2s ease;
      &:hover{
        border:2px solid $red;
      }
      &.passed{
        border:2px solid $red;
        background-color: $red;
        color:#fff;
      }
    }
  }
}
.home-beasiswa{
  background: url("../images/banner-beasiswa.jpg") center top no-repeat;
  background-size: cover;
  padding:80px 0 50px;
  .section-title{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
  }
  .beasiswa-city-wrapper{
    @media(max-width: $screen-sm){
      height: 340px;
      overflow-y: scroll;
    }
  }
  .beasiswa-city{
    margin-bottom: 15px;
    .city-link{
      display: block;
      >img{
        max-width:100%; 
        @media(max-width: $screen-sm){
          width: 100%;
          max-width: unset;
        }
      }
    }
    .city-details{
      padding: 20px 10px;
      background-color: $red2;
      .square-thumb{
        float: left;
        width: 30%;
        padding: 0 7px;
        @media(max-width: $screen-sm){
          width: 25%;
        }
        >img{
          max-width: 100%;
        }
      }
      .city-loc{
        float: left;
        width: 70%;
        padding-top: 10px;
        @media(max-width: $screen-sm){
          width: 75%;
        }
        .cityname{
          color: #fff;
          font-size: 14px;
          margin-bottom: 3px;;
        }
        .kuota{
          font-size: 12px;
          color:#999999;
          margin-right: 5px;
        }
        .kuota-qty{
          font-size: 13px;
          background-color: #ddd;
          padding:5px 8px;
          color: $red;
          border-radius: 50px;
          font-weight: 600;
          letter-spacing: -0.5px;
        }
      }
    }
  }
}

#login-wrapper{
  .img-col{
    position: absolute;
    background: url(../images/bg-login.jpg) no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    .txt-wrapper{
      position: absolute;
      bottom: 50px;
      margin: auto;
      right: 0;
      left: 0;
      text-align: center;
      color: #fff;
      font-family: Roboto;
      p{
        color: #dddddd;
      }
      .txt-btn{
        button{
          color: #ffffff;
          font-size: 12px;
          font-weight: 700;
          line-height: 12px;
          text-transform: uppercase;
          border: 1px solid #fff;
          width: 30%;
          display: inline-block;
          padding: 10px;
          &:hover{
            background: #fff;
            color: #000;
          }
        }
      }
    }
  }
  .block{
    display: flex;
    justify-content: center;
    height: 100vh;
    max-width: 100%;
    flex-direction: column;
    .img{
      margin-bottom: 100px;
    }
    form{
      color: #555555;
      input{
        border-radius: 4px;
        background-color: #f4f4f4;
        &:focus{
          border: 1px solid #c80000;
        }
      }
      label{
        font-weight: 700;
      }
      a{
        color: #c80000;
      }
      button{
        background: #c80000;
        color: #fff;
        width: 100%;
        padding: 15px 0;
        margin-top: 50px;
      }
    }
  }
}

.home-sponsor{
  padding:80px 0 40px;
  .section-title{
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
  }
  .list-sponsor-wrapper{
    @media(max-width: $screen-sm){
      height: 420px;
      overflow-y: scroll;
    }
    .list-sponsor{
      margin-bottom: 15px;
      .sponsorphoto{
        width: 100%;
        position: relative;
        height: 200px;
        object-fit: contain;
        @media(max-width: $screen-sm){
          width: 100%;
          max-width: unset;
        }
      }
      .sponsor-wrap{
        position: relative;
        display: block;
        // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
        text-align: center;
        padding: 10px 10px 25px;
        >h6{
          color: #555555;
          margin-bottom: 0;
        }
        >span{
          text-transform: uppercase;
          color: #999999;
          font-weight: 400;
          font-size: 13px;
        }
      }
    }
  }
}

.header-ujian{
  background-color: $red;
  padding: 20px 0;
  .logo{
    >a{
      img{
        height: 100px;
        @media(max-width:$screen-sm){
          height: 40px;
          margin-left: 10px;
        }
      }
    }
  }
  .ujian-detail{
    .ujian-info{
      @media(max-width:$screen-sm){
        display: none;
      }
      ul{
        padding: 0;
        >li{
          list-style: none;
          color: #fff;
          font-size: 13px;
          margin-bottom: 5px;
          >img{
            width: 14px;
            margin-right: 5px;
          }
          >span{
            width:45%;
            float: right;
            
          }
        }
      }
    }
    .ujian-account{
      text-align: right;
      .account{
        span{
          color: #fff;
          font-size: 13px;
          margin-right: 20px;
          cursor: pointer;
          @media(max-width:$screen-sm){
            display: none;
          }
          &:after{
            border-style: solid;
            border-width: 0.15em 0.15em 0 0;
            content: '';
            display: inline-block;
            height: 0.45em;
            left: 1em;
            position: relative;
            top: 13px;
            transform: rotate(135deg);
            vertical-align: top;
            width: 0.45em;
            border-left: 0;
            border-right: 0.15em solid #fff;
          }
        }          
        .user-pic{
          border-radius: 50%;
          width:35px;
          display: inline-block;
        }
      }
      .account-id{
        font-size: 13px;
        color: #fff;
        margin-top:10px; 
        @media(max-width:$screen-sm){
          display: none;
        }
      }
    }
  }
}



footer{
  background: #333;
  padding: 40px 0 10px;
  // margin-top: 20px;
  &.narrow{
    padding:10px 0;
    .socmed-footer{
      margin-bottom: 0;
    }
    .copyright{
      font-size: 12px;
      color: #999999;
      margin-top:5px;
    }
  }
  .footer-header{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-bottom:25px;
  }
  .footer-item{
    @media(max-width: $screen-sm){
      margin-bottom: 30px;
    }
  }
  p{
    color: #999999;
    font-size: 14px;
    &.copyright{
      text-align: right;
      font-size: 11px;
      margin-top: 100px;
      @media(max-width: $screen-sm){
        text-align: center;
        margin-top: 30px
      }
    }
  }
  ul{
    padding: 0;
    >li{
      list-style: none;
      color: #999999;
      font-size: 14px;
      margin-bottom: 3px;
      >a{
        color: #999999;
        text-decoration: none;
        &:hover{
          color: #999999;
          opacity: 0.7;
          text-decoration: none;
        }
      }
    }
    &.socmed-footer{
      text-align: right;
      @media(max-width: $screen-sm){
        text-align: center;
      }
      >li{
        display: inline-block;
        margin:0 15px;        
      }
    }
  }
  .subs{
    .form-control{
      background-color: transparent;
      border-color:$red;
      color:#fff;
    }
  }
}

#header-white-mobile{
  display: none;
  @media(max-width: $screen-sm){
    padding: 0;
    width: 100%;
    display: block;
    position: relative;
  }
  .logo{
    padding-right: 0;
    a{
      display: block;
      text-align: center;
    }
  }
  .profile{
    text-align: center;
  }
}
#header-white{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 1rem;
  @media(max-width:$screen-sm){
    display: none;
  }
  .logos{
    float: left;
    margin-right: 50px;
    a{
      display: block;
    }
  }
  .menus{
    float: left;
    line-height: 50px;
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        float: left;
        font-size: 14px;
        font-family: Arial;
        font-weight: 400;
        margin-right: 20px;
        a{
          color: #555;
          text-decoration: none;
          &:hover{
            color: #c80000;
          }
        }
      }
    }
  }
  .profile-wrapper{
    span{
      color: #999999;
      font-family: Roboto;
      font-size: 13px;
      font-weight: 400;
      margin-right: 20px;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        background: url(../images/arrow-red.png) no-repeat center;
        padding: 10px;
        bottom: 0;
      }
    }
  }
}













// #sidebar {
//     padding: 15px 10px;
//     background: #fff;
//     border: none;
//     border-radius: 0;
//     margin-bottom: 40px;
//     box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
// }

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #c80000;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    text-transform: uppercase;
}

#sidebar ul.components {
    padding: 20px 0;
    text-align: center;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 15px;
    display: block;
}
#sidebar ul li a:hover{
  background: #aa0000;
}

#sidebarCollapse{
  background: url(../images/burger.png) no-repeat left;
  border: none;
  padding: 0;
  text-indent: -9999px;
  outline: none;;
}

#sidebar ul li a{
    font-family: Roboto;
    color: #fff;
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

// ul ul a {
//     font-size: 0.9em !important;
//     padding-left: 30px !important;
//     background: #6d7fcc;
// }

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  background-color: #f4f4f4;
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  overflow: hidden;
  .title{
    color: #333333;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #555;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 50px;
    &:after{
      position: absolute;
      content: '';
      background: #c80000;
      width: 22%;
      height: 2px;
      bottom: 0;
      left: 0;
    }
  }
  .center-column{
    @media screen and (min-width: $screen-md) {     
      width: 50%; 
    }
    margin: auto;
    .img{
      text-align: center;
      img{
        display: inline-block;
      }
    }
    .subtitle{
      text-align: center;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 0.09px;
      color: #555;
      margin: 20px 0;
    }
    .column-wrapper{
      background: #fff;
      padding: 20px;
      border-top: 5px solid #c80000;
      border-left: 1px solid #dddddd;
      border-right: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      .container{
        width: auto;
        .column{
          .block{
            color: #555;
            font-family: Roboto;
            margin: 15px 0;
            .red{
              color: #c80000;
            }
            .col-left{
              padding-left: 25px;
              background-repeat: no-repeat !important;
              background-position: left 5px !important;
              &.soal{
                background: url(../images/ico-soal.png);
              }
              &.bg{
                background: url(../images/ico-bg.png);
              }
              &.waktu{
                background: url(../images/ico-clock.png);
              }
              &.total{
                background: url(../images/ico-jumlah.png);
              }
            }
          }
        }
      }
    }
    .start{
      margin: 20px 0;
      button{
        border-radius: 5px;
        background: #c80000;
        color: #fff;
        width: 100%;
        padding: 20px;
        border: none;
        cursor: pointer;
        font-family: Roboto;
        font-weight: 700;
        font-size: 14px;
        &:hover{
          background: #fff;
          color: #c80000;
        }
      }
    }
  }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}